# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Testing
.pytest_cache/
.coverage
coverage.xml
.htmlcov/

# Environment variables
.env
.env.*

.install-*

# Flask
instance/

# VS Code
.history/

# specstory
.specstory/

# Development tools
.mypy_cache/

nul